@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

.fa-arrow-right-to-bracket {
  transform: rotateZ(180deg);
  font-size: 48px;
  color: white;
}

.fa-arrow-right-to-bracket:hover {
  color: tomato;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: 500;
  font-family: "Hahmlet", serif;
  font-weight: 700;
  padding: 20px 0;
}

header h1 {
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 10px 0;
  text-align: center;
  color: white;
}

#webcam {
  transform: rotateY(180deg);
  width: 50%;
}

.grid {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr;
}

.wrapper {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  padding-right: 20px;
}

.video-container {
  height: 600px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid greenyellow;
}

.buttons {
  width: 100%;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.buttons span {
  width: 70px;
  height: 70px;
  background-color: tomato;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
}

.buttons span:hover {
  cursor: pointer;
  opacity: 0.5;
}

.hide {
  visibility: hidden;
}

.video-container-red {
  border-color: red;
}

.video-link {
  margin-bottom: 10px;
}

.video-link img {
  width: 500px;
}

.wrapper h1 {
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
}

.sholder-picture {
  height: 400px;
}

.signal {
  width: 100%;
  height: 100%;
  font-size: 24px;
  color: white;
}

p {
  position: absolute;
  right: 45vh;
  top: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}

#Timer {
  border: none;
  background: transparent;
  color: white;
  font-family: "Hahmlet", serif;
  font-weight: 700;
  font-size: 24px;
}

#Timer:focus {
  border: none;
}
